/* Importing the font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

*{
    font-family: Asul;
    /* background-color: black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.top-nav{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.logo{
    height: 120px;
    cursor: pointer;
}
.user{
    height: 82px;
    border-radius: 50%; /*  will the mae image a circle */
    cursor: pointer;
    margin-left: 40px;
}

.top {
    background: rgb(67, 67, 212);
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center; /*All items side by side*/
    justify-content: space-between;
    position: relative;
}
.top ul{
    width: 100%;
    text-align: center;
    background: rgb(67, 67, 212);
}
.top ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.top ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 0px 40px ;
    background: rgb(67, 67, 212);
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10PX;
    width: 320px;
    background-color: #fff;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: rgb(67, 67, 212);
    position: 20px;
    margin: 10px;
    padding: 5px 8px;
}

.user-info{
    display: flex;
    align-items: center;
    background: rgb(67, 67, 212);
}
.user-info h3{
    font-weight: 700;
    font-size: 25px;
    color: white;
    background: rgb(67, 67, 212);
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background:#ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{ 
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 12px 0;
    padding: 2px 30px;
    background-color: rgb(255, 0, 0);
}
.sub-menu-link p{
    width: 100%;    /*so that the signout img is on the right side*/
    font-size: 20px;
    transition: 0.5s;
    background-color: rgb(255, 0, 0);
}

.sub-menu-link img{
    transition: 0.5s;
    background-color: rgb(255, 0, 0);
}

.sub-menu-link:hover img{
    transform: translateX(10px);
}
.sub-menu-link:hover p{
    font-weight: 700;
}


/* Side Bar MEnu */
.sidebar{
    position: absolute;
    z-index: 100;
    width: 270px;
    height: 100%;
    left: 0;
    top: 141px;
    background-color: black;
}
.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}
.sidebar ul{
    background-color: black;
    height: 100%;
    width: 100%;
    list-style: none;
}

.sidebar ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255,255, 0.1);
}
.sidebar ul li a{
    position: relative;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 5px solid transparent;
}
.sidebar ul li a:hover{
    color: cyan;
    background-color: #1e1e1e;
    border-left: 5px solid cyan;
}

.sidebar ul ul{
    position: static;
    display: none;  /* This property causes the submenus to hide, without it they be showing */
}
.sidebar ul ul li{
    line-height: 42px;
    border-bottom: none;
}
.sidebar ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}
.sidebar ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 22px;
    transform: translateY(-50%);
    transition: transform 0.4s;
}
.sidebar ul li a:hover span{
    transform: translateY(-50%) rotate(-180deg);
    background-color: #1e1e1e;
}